@use "modules" as m;

// body

.body-container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: m.$font-family-medium;
  padding: 0px 250px;
  @media screen and (max-width: 1024px) {
    padding: 0px 20px;
  }
  @media screen and (max-width: 600px) {
    padding-top: 60px;
  }
}

// header

.nav-bar {
  height: 87px;
  @include m.flex(space-between, center);
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #828282;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.header-text {
  @include m.flex(space-between, center);
  margin-top: 39px;
  h1 {
    width: 118px;
    font-family: m.$font-family-bold;
    font-weight: 400;
    font-size: 47.3392px;
    line-height: 59px;
  }

  .header-text__paragraph {
    width: 155px;
  }

  .header-text__lang {
    transform: rotate(270deg) translateY(25px);
    width: 66px;
    @media screen and (max-width: 600px) {
      display: none;
    }
    a {
      font-family: m.$font-family-bold;
      font-size: 16px;
    }
  }
}

.hero-img {
  margin-top: 50px;
  img {
    width: 100%;
  }
}

//header-mobile

.mobile-burger-menu {
  display: none;
}

.mobile-header {
  @media screen and (max-width: 600px) {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;

    p {
      position: absolute;
      top: 150px;
    }

    .mobile-burger-menu {
      display: block;
      max-width: 43px;

      img {
        height: 100%;
        width: 100%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.mobile-hero {
  display: none;
}

@media screen and (max-width: 600px) {
  .hero-desktop {
    display: none;
  }

  .hero-img {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    max-width: 600px;

    .mobile-hero {
      display: block;
      max-width: 476px;
    }
  }
}

// main_section_1_about_me

.section-1-about-me {
  @include m.flex(center, center, column);
  margin-top: 104px;
  min-height: 506px;
  background-color: m.$background-color-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .section-1-about-me__title {
    margin-bottom: 18px;
  }

  .section-1-about-me-text-wrapper {
    max-width: 485px;
    text-align: center;

    p {
      margin-bottom: 60px;
    }
  }

  @media screen and(max-width:600px) {
    margin-top: 80px;
  }
}

// main_section_2_skills

.section-2-skills {
  @include m.flex(space-around, center, column);
  min-height: 610px;

  @media screen and (max-width: 600px) {
    gap: 40px;
    margin-top: 80px;
  }
}

.section-2-skills-logo-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and(max-width:600px) {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
}

.logo-box {
  @include m.flex(space-between, center, column);
  max-width: 166px;
  height: 206px;

  p {
    font-family: m.$font-family-bold;
    font-size: 14px;
    line-height: 17px;
  }

  .section-2-logo--size {
    width: 54%;
    height: 88px;
  }

  .section-2-stars--size {
    width: 95%;
  }
}

// main_section_3_portfolio

.section-3-portfolio {
  background-color: m.$background-color-white;
  @include m.flex(space-around, center, column);
  //   min-height: 2250px;
  gap: 40px;
  margin-top: 90px;

  .section-3-portfolio-sites-wrapper {
    text-align: center;
    img {
      width: 100%;
      margin-bottom: 45px;
    }

    a {
      font-family: m.$font-family-medium;
      color: #070707;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and(max-width:600px) {
    margin-top: 60px;
  }
}

/* footer */

.footer {
  height: 620px;
  text-align: center;
  padding-top: 114px;

  .footer-references {
    a {
      color: #070707;
      display: inline-block;
      margin-bottom: 20px;

      &:hover {
        color: #828282;
      }
    }
  }
}

.footer button {
  @include m.button-style(180px, 42px, black, white);
  border: none;
  font-family: m.$font-family-bold;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 91px;

  &:hover {
    cursor: pointer;
    background-color: #828282;
  }

  @media screen and(max-width:600px) {
    max-width: 312px;
    width: 100%;
  }
}

.footer-logo-social-media {
  display: flex;
  justify-content: space-between;
  width: 343px;
  margin: 0 auto;
  margin-bottom: 45px;

  @media screen and(max-width:600px) {
    width: 100%;
  }
}

footer > p,
p:last-child a {
  display: inline-block;
  font-family: m.$font-family-medium;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

p:last-child a:hover {
  color: #070707;
}
