@use "base";
@use "layout";
@use "mobile-menu";

@font-face {
  font-family: "gilroy-medium";
  src: url(../assets/fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "gilroy-bold";
  src: url(../assets/fonts/Gilroy-Bold.ttf);
}
